@define-mixin dropdownToggle {
  @nest .js & {

    &::after {
      content: '';
      margin-left: 0.3em;
      border-top: .3em solid currentColor;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
      position: relative;
      top: 0.1em;
      left: 0.2em;
    }
  }
}

@define-mixin dropdownContent {
  background-color: #fff000;
  z-index: 1;

  &[aria-hidden="true"] {
    display: none;
  }

  &:focus {
    background-color: pink;
  }

  &:active {
    background-color: red;
  }
}
