/* Components: Banner */
:root {
  --banner-padding-top: 5rem;
  --banner-padding-bottom: 3rem;
  --banner-padding-left: 2rem;
  --banner-padding-right: 2rem;
  --banner-bg-color: var(--component-background-color);
  --banner-heading-color: var(--component-main-color);
  --banner-content-color: var(--component-main-color);
  --banner-heading-font-size: var(--component-font-size-9);
  --banner-content-font-size: var(--component-font-size-4);
  --banner-content-line-height: 1.4;
  --banner-max-line-length: var(--component-max-line-length);
  --banner-border-color: var(--component-border-color);
  --banner-border-top-width: var(--component-border-width);
  --banner-border-bottom-width: var(--component-border-width);
  --banner-border-left-width: 0;
  --banner-border-right-width: 0;
  --banner-max-width: var(--component-max-width);
  --banner-v-offset: none;
}
