@define-mixin cardVariables
  $background-color,
  $text-color,
  $border-width,
  $border-color,
  $border-radius,
  $inner-border-width,
  $header-img-height,
  $gutter,
  $v-spacing,
  $section-spacing,
  $footer-padding,
  $line-height,
  $box-shadow: none,
  $font-family: inherit {

  $card-background-color: $background-color;
  $card-text-color: $text-color;
  $card-border-width: $border-width;
  $card-border-color: $border-color;
  $card-border-radius: $border-radius;
  $card-inner-border-width: $inner-border-width;
  $card-header-img-height: $header-img-height;
  $card-gutter: $gutter;
  $card-v-spacing: $v-spacing;
  $card-section-spacing: $section-spacing;
  $card-footer-padding: $footer-padding;
  $card-line-height: $line-height;
  $card-box-shadow: $box-shadow;
  $card-font-family: $font-family;

  @define-mixin card {
    background-color: $card-background-color;
    color: $card-text-color;
    border: solid $card-border-width $card-border-color;
    border-radius: $card-border-radius;
    font-family: $card-font-family;
    line-height: $card-line-height;
    box-shadow: $card-box-shadow;

    & img {
      max-width: 100%;
    }
  }

  @define-mixin cardHeader {
    border-bottom: solid $card-inner-border-width $card-border-color;
    height: $card-header-img-height;
    overflow: hidden;
    margin-bottom: $card-section-spacing;

    & img {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  @define-mixin cardSection {
    padding-left: $card-gutter;
    padding-right: $card-gutter;

    &:first-child {
      padding-top: $card-gutter;
    }

    &:last-child {
      padding-bottom: $card-gutter;
    }

    & > *:not(:first-child) {
      margin-top: $card-v-spacing;
    }
  }

  @define-mixin cardSectionSibling {
    margin-top: $card-section-spacing;
  }

  @define-mixin cardFooter {
    margin-top: $card-section-spacing;
    border-top: solid $card-inner-border-width $card-border-color;
    padding: $card-footer-padding $card-gutter;
  }

}

/* structure */
@define-mixin cardSelectors
  $card: .card,
  $card_header: .card_header,
  $card_section: .card_section,
  $card_footer: .card_footer {

  $card-selector: $card;
  $card_header-selector: $card_header;
  $card_section-selector: $card_section;
  $card_footer-selector: $card_footer;

  $card-selector {
    @mixin card;
  }

  $card_header-selector {
    @mixin cardHeader;
  }

  $card_section-selector {
    @mixin cardSection;

    & + $card_section-selector {
      @mixin cardSectionSibling;
    }
  }

  $card_footer-selector {
    @mixin cardFooter;
  }

}
