/* Components: Icon list */
:root {
  --icon-list-item-spacing: 0.6em;
  --icon-list-icon-width: var(--component-icon-size);
  --icon-list-icon-height: var(--component-icon-size);
  --icon-list-icon-gap: 0.4em;
  --icon-list-icon-fill: var(--component-main-color);
}
