:root {
  --component-emphasis-primary: #0000EE;
  --component-main-color: #282828;
  --component-background-color: #fff;
  --component-font-family: inherit;
  --component-font-size-1: 0.75rem;
  --component-font-size-2: 0.875rem;
  --component-font-size-3: 1rem;
  --component-font-size-4: 1.125rem;
  --component-font-size-5: 1.25rem;
  --component-font-size-6: 1.5rem;
  --component-font-size-7: 1.875rem;
  --component-font-size-8: 2.25rem;
  --component-font-size-9: 3rem;
  --component-font-size-10: 4rem;
  --component-font-weight-normal: 400;
  --component-font-weight-bold: 600;
  --component-border-radius: 0;
  --component-border-width: 4px;
  --component-border-color: var(--component-main-color);
  --component-focus-outline-width: 4px;
  --component-focus-outline-offset: 2px;
  --component-focus-outline-opacity: 100%;
  --component-focus-outline-blur: 0;
  --component-input-height: 2.8rem;
  --component-for-tablet-portrait: 600px;
  --component-v-pad: 0.8rem;
  --component-h-pad: 1rem;
  --component-drop-shadow: 0px 0px 0px 4px #fff;
}
