:root {
  --component-emphasis-primary: #0071EB;
  --component-main-color: #282828;
  --component-background-color: #fff;
  --component-font-family: inherit;
  --component-font-size: 1em;
  --component-font-size-large: 1.1em;
  --component-font-weight-bold: 600;
  --component-border-radius: 0;
  --component-border-width: 4px;
  --component-border-color: var(--component-main-color);
  --component-focus-outline-width: 4px;
  --component-focus-outline-offset: 2px;
  --component-focus-outline-opacity: 100%;
  --component-focus-outline-blur: 0;
  --component-input-height: 2.8rem;
  --component-for-tablet-portrait: 600px;
}
